body {
	font-family: 'Open Sans', sans-serif;
	color: #201b2d;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
}

p {
	line-height: 1.6em;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	background: rgba(78,189,254,1);
	background: -moz-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,189,254,1)), color-stop(100%, rgba(55,144,217,1)));
	background: -webkit-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	background: linear-gradient(135deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebdfe', endColorstr='#3790d9', GradientType=1 );
	padding-top: 60px;
	color: #fff;
	padding-bottom: 130px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items:center;
}

.offer {
	width: 565px;
}

.title {
	font-size: 37px;
}

.title span {
	font-size: 50px;
}

.intro {
	font-size: 16px;
	margin-bottom: 36px;
	width: 400px;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	background: #ffd429;
	color: #000;
	border: 50px;
	display: block;
	width: 220px;
	padding: 20px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #bb9e28;
}

.travel {
	margin-top: 90px;
}

.wait {
	margin-top: 100px; 
	margin-bottom: 120px;
}

.skills	{
	display: flex;
	justify-content: space-between;
}

.skill {
	width: 300px;
	text-align: center;
}

.skill-title {
	padding-top: 20px;
}

.section-title {
	font-size: 30px;
	margin-bottom: 70px;
	text-align: center;
}

.skill-text {
	font-size: 16px;
	margin-top: 20px;
	width: 290px;
}

.ticket {
	background: #ecf2f8;
	padding-top: 100px;
	padding-bottom: 100px;
}

.form {
	 max-width: 340px ; 
	 margin: 0 auto; 
}

.input {
	width: 100%;
	border: 1px solid #bbbbbb;
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
	border-radius: 5px;
	height: 42px;
	padding-left: 23px;
	margin: 0 auto 15px;
	display: block;
}

.btn-form {
	margin: 0 auto;
	width: 100%;

}

.footer {
	padding: 60px 0;
	background: #164d7a;
}

.credits {
	color: #fff;
	font-size: 14px;
	margin: 0;
	padding-left: 400px;
}

/*Responsive*/


/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}

	.credits {
		padding-left: 300px;	
	}
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.wrapper {
		flex-direction: column;
	}
	.offer {
		width: 100%;
	}
	.intro {
		width: 100%;
	}
	.travel {
		display: block;
	    width: 330px;
	    margin: 90px auto;
	}

	.skills {
		flex-direction: column;
	}

	.skill {
		margin-left: 200px;
	}
	
	.credits {
		padding-left: 190px;	
	}	
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
	.skill {
		margin-left: 100px;
	}

	.credits {
		padding-left: 85px;	
	}	
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}

	.travel {
	    width: 300px; 
	}

	.skill {
		margin-left: 0px;
	}

	.credits {
		padding-left: 0px;
    	text-align: center;	
	}
	

}