body {
	font-family: 'Open Sans', sans-serif;
	color: #201b2d;
	font-size: 16px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

p {
	line-height: 2em;
}

.container {
	width: 1170px;
	margin: 0 auto;
	
}

.header {
	background: #4DBBFC;
	background: -webkit-linear-gradient(top left, #4DBBFC, #3791D9);
	background: -moz-linear-gradient(top left, #4DBBFC, #3791D9);
	background: linear-gradient(to bottom right, #4DBBFC, #3791D9);
	padding-top: 55px;
	padding-bottom: 140px;
	color: #fff;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.offer {
	margin-top: 145px;
	width: 565px;
}

.title {
	font-size: 37px;
}

.title span {
	font-size: 59px;
}

.intro {
	margin-top: 48px;
	margin-bottom: 45px;
	width: 400px;

}

.btn {
	font-family: 'Ubuntu', sans-serif;
	background: #ffd429;
	color: #000;
	display: block;
	width: 215px;
	padding: 20px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #bb9e28;
}

.travel {
	margin-top: 150px;
	height: 400px; 

}

.wayting {
	padding-top: 110px;
	padding-bottom: 121px;
}

.section-title {
	font-size: 30px;
	padding-left: 400px;
	
}

.image1 {
	padding-left: 50px;
	padding-top: 57px;
	padding-bottom: 15px;
}

.image2 {
	padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 15px;
}

.image3 {
	padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 15px;
}
.tricks {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.trick {
	width: 290px;

}

.trick-title {
	font-size: 19px;
	margin-left: 50px;

}

.trick-text {
	margin-left: 40px;

}

.ticket {
	background: #ecf2f8;
	padding-top: 100px;
	padding-bottom: 470px;

}

.section-title-ticket {
	font-size: 30px;
	padding-left: 335px;
	padding-bottom: 65px;
	
}

.input {
	width: 333px;
	border: 1px solid #bbbbbb;
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
	height: 44px;
	padding-left: 23px;

}

.btn-form {
	border: 0;
	width: 333px; 
}

.form {
	margin-left: 400px;
}

.input1 {
	margin: 20px;
}

.input2 {
	margin: 20px;
}

.input3 {
	margin: 20px;
}

.input4 {
	margin: 20px;
}

.input5 {
	margin: 20px;
}

.footer {
	padding: 60px 0;
	margin-top:-400px;
	background: #164d7a;
	color:#fff;
	text-align: center;

}

.credits {
	font-size: 14px;
	margin: 0;
}


/*Responsive*/


/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
	.title {
		width: 400px;
	}
	.section-title {
		padding: 0;
	}
	.section-title-ticket {
		padding: 0px;
		
	}
	.form {
		margin: 50px;
	}
	.footer {
		text-align: left ;
	}
	
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 768px;
	}

	.wrapper {
		flex-direction: column;
	}
	.offer {
		width: 100%;
	}
	.intro {
		width: auto;
	}
	.travel {
		display: block;
	    width: 330px;
	}
	.tricks {
		flex-direction: column;
	}

}
	
/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
	.title {
		width: 400px;
	}
	.intro {
		width: 400px;
	}
	.section-title {
		font-size: 25px;
		text-align: center;
	}
	.section-title-ticket {
		font-size: 25px;
		text-align: center;
	}
	.form {
		margin-left: 0px;
	}
	.footer {
		text-align: center;
	}

}
	
/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: 320px;
	}
	.title {
		width: 200px;
		font-size: 20px;
	}
	.title span {
		width: auto;
		font-size: 30px;
	}

	.section-title {
		font-size: 20px;
		text-align: center;
	}
	.section-title-ticket {
		font-size: 20px;
		text-align: center;
	}

	.intro {
		width: 280px;
	}
	.travel {
		width: 320px;
	}
	.btn-form {
		width: 280px; 
	}
	.input {
		width: 280px;
		font-size: 13px;
	}

}
